# source: https://www.gitignore.io

**/.gradle/
**/build/

**/bin/
**/gen/

**/*.apk
**/*.ap_
**/*.dex
**/*.class
**/*.log

**/local.properties



**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/gradle.xml
**/.idea/vcs.xml
**/.idea/misc.xml
**/.idea/dictionaries/
**/.idea/libraries/
**/.idea/copyright/

**/.iws

**/com_crashlytics_export_strings.xml
**/crashlytics.properties
**/crashlytics-build.properties
